.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vmin;
    font-weight: bold;
    color: var(--accent-color);
    background: var(--primary-gradient);
    border: var(--default-primary-border);
    border-radius: var(--default-border-radius);
    outline: none;
    box-shadow: var(--box-shadow);
  }
.cell-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vmin;
    font-weight: bold;
    color: var(--accent-color);
    background: var(--primary-gradient);
    border: var(--default-primary-border);
    border-radius: var(--default-border-radius);
    outline: none;
    box-shadow: var(--box-shadow);
}
  
.cell.red {
    cursor: pointer;
    color: var(--content-background-color);
    background: var(--primary-highlight-gradient-red);
}
.cell.yellow {
    cursor: pointer;
    color: var(--content-background-color);
    background: var(--primary-highlight-gradient-yellow);
}

.cell.green {
    cursor: pointer;
    color: var(--content-background-color);
    background: var(--primary-highlight-gradient-green);
}

.cell-content {
    overflow: hidden;
    width: 0;
    height: 0;
    transition: width var(--selection-animation-duration), height var(--selection-animation-duration);
}
.cell-button:active, .cell-button:hover {
    cursor: pointer;
    color: var(--content-background-color);
    background: var(--primary-highlight-gradient);
  }

.cell-content.populated {
    width: 12vmin;
    height: 12vmin;
}
h1 {
    color: var(--primary-saturated-brighter-green);
    text-align: center;
    margin-bottom: 2vmin;
    font-size: var(--main-title-font-size);
  }
   